@import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Sora", sans-serif ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style:normal;
  }